<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Mangez des {{ product.productName }}, c'est bon pour la santé
  <img src="assets/imgs/{{ product.imageFileName }}" /><br />
  <h3>Fournisseurs</h3>
  <ion-list *ngIf="product.suppliers != null">
    <ion-item *ngFor="let supplier of product.suppliers">
      {{ supplier.companyName }}
    </ion-item>
  </ion-list>
</ion-content>
