<ion-header>
  <ion-navbar>
    <ion-title>
      Vedjiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>{{ product.productName }}</h4>
  <img src="{{ product.image64 }}"><br>
  <div class="row">
    <div class="col">
      <ion-label>Prix</ion-label>
    </div>
    <div class="col">
      <ion-input type="text" [(ngModel)]="product.price"></ion-input>
    </div>
    <div class="col">
      <ion-label>par</ion-label>
    </div>
    <div class="col">
      <ion-input type="text" [(ngModel)]="product.unit"></ion-input>
    </div>
  </div>
  <div *ngIf="product.suppliers.length > 0">
    <h4>Fournisseurs</h4>
    <ion-list>
      <ion-item *ngFor="let supplier of product.suppliers">
        {{supplier.companyName}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
