<ion-header>
  <ion-navbar>
    <ion-title>
      Vedjiz
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h4>{{ product.productName }}</h4>
  <div style="text-align: center">
    <img src="{{ product.image64 }}" width="60%" height="60%" text-center>
  </div>
  <ion-grid>
    <ion-row margin="5px">
      Prix: {{ product.price }} par {{ product.unit }}
    </ion-row>
    <ion-row margin="5px">
      <ion-label>{{ product.unit }} disponible(s):</ion-label><ion-input type="text" [(ngModel)]="product.stock" (change)="dataChange()" float-right></ion-input>
      <div *ngIf="product.stock <= product.low_stock_threshold">
        <ion-icon name="alert"></ion-icon> Attention stock bas ! <ion-icon name="alert"></ion-icon> <button ion-button color="light" round center (click)="placeOrder()">Placer une commande</button>
      </div>
    </ion-row>
  </ion-grid>
  <div text-center *ngIf="!original.equalsProduct(product)">
    <button ion-button color="light" round center (click)="save()">Enregistrer</button>
    <button ion-button color="light" round center (click)="abort()">Abandonner</button>
  </div>
  <hr>
  <div *ngIf="product.suppliers.length > 0">
    <h4>Fournisseurs</h4>
    <ion-list>
      <ion-item *ngFor="let supplier of product.suppliers">
        {{supplier.companyName}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
